/*button  工具样式*/


/*
按钮大小，参数padding font-size border-radius，如果是round类型的padding覆盖之前的
$padding-vertical    上下padding
$padding-horizontal  左右padding
*/
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    border-radius: $border-radius;
    &.is-round {
      padding: $padding-vertical $padding-horizontal;
    }
}


@mixin button-plain($color) {
    color: $color;
    background: mix($--color-white, $color, 90%);
    border-color: mix($--color-white, $color, 60%);
  
    &:hover,
    &:focus {
      background: $color;
      border-color: $color;
      color: $--color-white;
    }
  
    &:active {
      background: mix($--color-black, $color, $--button-active-shade-percent);
      border-color: mix($--color-black, $color, $--button-active-shade-percent);
      color: $--color-white;
      outline: none;
    }
  
    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: mix($--color-white, $color, 40%);
        background-color: mix($--color-white, $color, 90%);
        border-color: mix($--color-white, $color, 80%);
      }
    }
  }